<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{admin/base :: head(pageTitle='Healthy - Horarios')}">
    <title>Healthy - Horarios</title>
</head>
<body th:replace="~{admin/base :: body}">
<div th:fragment="content">
    <div class="card">
        <div class="card">
            <div class="card-header bg-green text-white d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">Gestión de Horarios</h5>
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#nuevoHorario">Nuevo
                    Horario
                </button>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Medico</th>
                        <th>Consultorio</th>
                        <th>Día</th>
                        <th>Hora Inicio</th>
                        <th>Hora Fin</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="horario : ${horarios}">
                        <td th:text="${horario.idHorario}"></td>
                        <td th:text="${horario.medico.nombre}"></td>
                        <td th:text="${horario.consultorio.nombre}"></td>
                        <td th:text="${horario.diaSemana}"></td>
                        <td th:text="${horario.horaInicio}"></td>
                        <td th:text="${horario.horaFin}"></td>
                        <td>
                            <button class="btn btn-info"
                                    data-bs-toggle="modal"
                                    data-bs-target="#nuevoHorario"
                                    th:attr="data-id=${horario.idHorario}">
                                <i class="fas fa-edit"></i> Editar
                            </button>
                            <a th:href="@{/horario/eliminar/{id}(id=${horario.idHorario})}"
                               class="btn btn-danger"> <i class="fas fa-trash-alt"></i> Eliminar </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="nuevoHorario" tabindex="-1" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="horarioForm" th:action="@{/horario/guardar}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Horario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <input id="idHorario" name="idHorario"
                               th:value="${horario?.idHorario}">

                        <div class="mb-3">
                            <label for="medico" class="form-label">Medico</label>
                            <select id="idMedico" name="medico.idMedico" class="form-control" required>
                                <option value="" disabled selected>Selecciona un medico</option>
                                <option th:each="medico : ${medicos}"
                                        th:value="${medico.idMedico}"
                                        th:text="${medico.nombre} + ' ' + ${medico.apellidos}"
                                        th:selected="${medico.idMedico == horario.medico?.idMedico}">
                                </option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="consultorio" class="form-label">Consultorio</label>
                            <select id="idConsultorio" name="consultorio.idConsultorio" class="form-control" required>
                                <option value="" disabled selected>Selecciona un consultorio</option>
                                <option th:each="consultorio : ${consultorios}"
                                        th:value="${consultorio.idConsultorio}"
                                        th:text="${consultorio.nombre}"
                                        th:selected="${consultorio.idConsultorio == horario.consultorio?.idConsultorio}">
                                </option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="dia" class="form-label">Día</label>
                            <select id="dia" name="diaSemana" class="form-control" required>
                                <option value="" disabled selected>Selecciona un día</option>
                                <option th:each="dia : ${diaSemana}" th:value="${dia.name()}"
                                        th:text="${#strings.capitalize(dia.name().toLowerCase())}"
                                        th:selected="${dia == horario.diaSemana}">
                                </option>
                            </select>
                        </div>


                        <div class="mb-3">
                            <label for="horaInicio" class="form-label">Hora Inicio</label>
                            <select id="horaInicio" name="horaInicio" class="form-control" required>
                                <option value="" disabled selected>Selecciona una hora</option>
                                <option th:each="hora : ${horasPermitidas}"
                                        th:value="${hora}"
                                        th:text="${hora}"
                                        th:selected="${hora == horario.horaInicio}">
                                </option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="horaFin" class="form-label">Hora Fin</label>
                            <select id="horaFin" name="horaFin" class="form-control" required>
                                <option value="" disabled selected>Selecciona una hora</option>
                                <option th:each="hora : ${horasPermitidas}"
                                        th:value="${hora}"
                                        th:text="${hora}"
                                        th:selected="${hora == horario.horaFin}">
                                </option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        setupAjaxEdit(
            ".btn-info",
            "/horario/{id}",
            function (data) {
                document.getElementById("idHorario").value = data.idHorario;
                document.getElementById("idMedico").value = data.idMedico;
                document.getElementById("idConsultorio").value = data.idConsultorio;
                document.getElementById("dia").value = data.diaSemana;
                document.getElementById("horaInicio").value = data.horaInicio;
                document.getElementById("horaFin").value = data.horaFin;
                document.querySelector("input[name='idEspecialidad']").value = data.idEspecialidad;
            }
        );

    });
</script>
</html>
