<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{admin/base :: head(pageTitle='Healthy - Horarios')}">
    <title>Healthy - Horarios</title>
</head>
<body>
<div th:replace="~{admin/base :: body}">
    <div th:fragment="content">
        <div class="card">
            <div class="card-header bg-green text-white">
                <h5 class="card-title mb-0">Bienvenido al Panel de Administración</h5>
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#nuevoHorario">Nuevo 
                    Horario
                </button>
            </div>
            <div class="card-body">
                <p>Seleccione una opción del menú para comenzar a gestionar el sistema.</p>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Medico</th>
                        <th>Consultorio</th>
                        <th>Día</th>
                        <th>Hora Inicio</th>
                        <th>Hora Fin</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="horario : ${horarios}">
                        <td th:text="${horario.idHorario}"></td>
                        <td th:text="${horario.medico.nombre}"></td>
                        <td th:text="${horario.consultorio.nombre}"></td>
                        <td th:text="${horario.dia}"></td>
                        <td th:text="${horario.horaInicio}"></td>
                        <td th:text="${horario.horaFin}"></td>
                        <td>
                            <button class="btn btn-info"
                                    data-bs-toggle="modal"
                                    data-bs-target="#nuevoHorario"
                                    th:attr="data-id=${horario.idHorario}">
                                <i class="fas fa-edit"></i> Editar
                            </button>
                            <a th:href="@{/horario/eliminar/{id}(id=${horario.idHorario})}"
                               class="btn btn-danger"> <i class="fas fa-trash-alt"></i> Eliminar </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="nuevoHorario" tabindex="-1" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
           <form id="horarioForm" th:action="@{/horario/guardar}" method="post">
               <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLongTitle">Horario</h5>
                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">

                   <input type="hidden" id="idHorario" name="idHorario"
                          th:value="${horario?.idHorario}">

                   <div class="mb-3">
                       <label for="medico" class="form-label">Medico</label>
                       <select id="idMedico" name="idMedico" class="form-control" required>
                            <option value="" disabled selected>Selecciona un medico</option>
                            <option th:each="medico : ${medicos}"
                                    th:value="${medico.idMedico}"
                                    th:text="${medico.nombre}"
                                    th:selected="${medico.idMedico == horario.idMedico?.idMedico}">
                            </option>
                       </select>
                   </div>

                   <div class="mb-3">
                       <label for="consultorio" class="form-label">Consultorio</label>
                       <select id="idConsultorio" name="idConsultorio" class="form-control" required>
                            <option value="" disabled selected>Selecciona un consultorio</option>
                            <option th:each="consultorio : ${consultorios}"
                                    th:value="${consultorio.idConsultorio}"
                                    th:text="${consultorio.nombre}"
                                    th:selected="${consultorio.idConsultorio == horario.idConsultorio?.idConsultorio}">
                            </option>
                       </select>
                   </div>

                   <div class="mb-3">
                       <label for="dia" class="form-label">Día</label>
                       <input type="text" id="dia" name="dia" class="form-control"
                                 th:value="${horario.dia}" required>
                   </div>

                   <div class="mb-3">
                       <label for="horaInicio" class="form-label">Hora Inicio</label>
                       <input type="text" id="horaInicio" name="horaInicio" class="form-control"
                              th:value="${horario.horaInicio}" required>
                   </div>

                   <div class="mb-3">
                       <label for="horaFin" class="form-label">Hora Fin</label>
                       <input type="text" id="horaFin" name="horaFin" class="form-control"
                              th:value="${horario.horaFin}" required>
                   </div>
               </div>
               <div class="modal-footer">
                   <button type="submit" class="btn btn-success">Guardar</button>
                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
               </div>
           </form>
       </div>
   </div>
</div>
</div>
</body>
</html>
