<nav class="col-md-3 bg-green" th:fragment="sidebar">
    <div class="list-group">
        <a th:href="@{/dashboard}" class="list-group-item list-group-item-action" th:classappend="${activePage == 'dashboard'} ? ' active'" data-page="dashboard">
            <i class="fas fa-tachometer-alt"></i> Panel de Control
        </a>
        <a th:href="@{/medicos}" class="list-group-item list-group-item-action" th:classappend="${activePage == 'medicos'} ? ' active'" data-page="medicos">
            <i class="fas fa-user-md"></i> Gestionar Médicos
        </a>
        <a th:href="@{/citas}" class="list-group-item list-group-item-action" th:classappend="${activePage == 'citas'} ? ' active'" data-page="citas">
            <i class="fas fa-calendar-check"></i> Gestionar Citas
        </a>
        <a th:href="@{/pacientes}" class="list-group-item list-group-item-action" th:classappend="${activePage == 'pacientes'} ? ' active'" data-page="pacientes">
            <i class="fas fa-users"></i> Gestionar Pacientes
        </a>
        <a th:href="@{/horarios}" class="list-group-item list-group-item-action" th:classappend="${activePage == 'horarios'} ? ' active'" data-page="horarios">
            <i class="fas fa-clock"></i> Gestionar Horarios
        </a>
        <a th:href="@{/admin/especialidad}" class="list-group-item list-group-item-action" th:classappend="${activePage == 'especialidad'} ? ' active'" data-page="especialidad">
            <i class="fas fa-stethoscope"></i> Gestionar Especialidades
        </a>
        <a th:href="@{/consultorios}" class="list-group-item list-group-item-action" th:classappend="${activePage == 'consultorios'} ? ' active'" data-page="consultorios">
            <i class="fas fa-clinic-medical"></i> Gestionar Consultorios
        </a>
        <a th:href="@{/clinica}" class="list-group-item list-group-item-action" th:classappend="${activePage == 'clinica'} ? ' active'" data-page="clinica">
            <i class="fas fa-hospital"></i> Gestionar Clínica
        </a>
        <a th:href="@{/pagos}" class="list-group-item list-group-item-action" th:classappend="${activePage == 'pagos'} ? ' active'" data-page="pagos">
            <i class="fas fa-credit-card"></i> Gestionar Tipos y Métodos de Pago
        </a>
    </div>
</nav>
