<nav class="col-md-3 bg-green" th:fragment="sidebar">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
            <i class="fas fa-tachometer-alt"></i> Panel de Control
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="fas fa-user-md"></i> Gestionar Médicos
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="fas fa-calendar-check"></i> Gestionar Citas
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="fas fa-users"></i> Gestionar Pacientes
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="fas fa-clock"></i> Gestionar Horarios
        </a>
        <a th:href="@{/admin/especialidad}" class="list-group-item list-group-item-action">
            <i class="fas fa-stethoscope"></i> Gestionar Especialidades
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="fas fa-clinic-medical"></i> Gestionar Consultorios
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="fas fa-hospital"></i> Gestionar Clínica
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="fas fa-credit-card"></i> Gestionar Tipos y Métodos de Pago
        </a>
    </div>
</nav>
